@inherits BaseInputGroupValue<TValue>
@typeparam TValue

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementRadioSet OptionList="OptionList" Name="@Name" InputAttributes="InputAttributesCurrent" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
            @ChildContent(context)
        </InputElementRadioSet>
    </TemplateInputGroup>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<TValue> ChildContent { get; set; }

    [Parameter, EditorRequired]
    public required IEnumerable<TValue> OptionList { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public Func<TValue, IReadOnlyDictionary<string, object>?>? InputAttributesCallback { get; set; }
    private Func<TValue, IReadOnlyDictionary<string, object>?> InputAttributesCurrent => InputAttributesCallback ?? InputAttributesDummy;

    private IReadOnlyDictionary<string, object>? InputAttributesDummy(TValue _)
    {
        return InputAttributes;
    }

}
