@inherits BaseInputGroupValue<string>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementTextArea @attributes="InputAttributes" ID="@UUIDCode" Columns="ColumnsCurrent" Rows="RowsCurrent" HasChangeEventOnInput="HasChangeEventOnInputCurrent"
                              @bind-Value:get="Value" @bind-Value:set="x => ValueChanged.InvokeAsync(x)"/>
    </TemplateInputGroup>
</div>

@code {

    [Parameter]
    public int? Columns { get; set; }
    private int ColumnsCurrent => Columns ?? 40;

    [Parameter]
    public int? Rows { get; set; }
    private int RowsCurrent => Rows ?? 6;

    [Parameter]
    public bool? HasChangeEventOnInput { get; set; }
    private bool HasChangeEventOnInputCurrent => HasChangeEventOnInput ?? false;

}

