@inherits BaseInputGroupValue<string>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup For="@UUIDCode" DisplayName="@DisplayNameCurrent" Description="@DescriptionCurrent" ErrorList="ErrorList">
        <InputElementPassword @attributes="InputAttributes" ID="@UUIDCode" Autocomplete="@Autocomplete" @bind-Value:get="Value" @bind-Value:set="x => ValueChanged.InvokeAsync(x)"/>
    </TemplateInputGroup>
</div>

@code {

    [Parameter]
    public WebFormInputFieldPasswordAutocompleteEnum? Autocomplete { get; set; }
    


}

