@inherits BaseComponentActionInput

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@Context.Title" Description="@Context.Description">
        <InputElementDate @bind-Value="Context.DateTimeValue" min="@MinDate" max="@MaxDate" @bind-Value:after="Commit"/>
    </TemplateInputGroup>
</div>

@code {

    private string? MinDate => GetAttributeValue<string>(SchemaActionInputConstants.SchemaIdentifierAttributeDynamicValueMinDate);
    private string? MaxDate => GetAttributeValue<string>(SchemaActionInputConstants.SchemaIdentifierAttributeDynamicValueMaxDate);

    private DateTime? GetValue()
    {
        return Context.Value as DateTime?;
    }

    private async Task SetValue(DateTime? value)
    {
        Context.Value = value;
        await Commit();
    }

}
