@inherits BaseInputMultipleChoiceValue<TValue, TValueList>
@typeparam TValue
@typeparam TValueList where TValueList : IEnumerable<TValue>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateGridList List="OptionList">
        <Collapsible>
            <Header>
                <label class="header">
                    <input @attributes="AdditionalAttributes" class="@CssClass" name="@NameCurrent" type="checkbox" checked="@IsChecked(context)" @onchange="x => OnInputChange(x, context)"/>
                    @Header(context)
                </label>
            </Header>
            <Content>
                <div class="content">
                    @Content(context)
                </div>
            </Content>
        </Collapsible>
    </TemplateGridList>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment<TValue> Header { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment<TValue> Content { get; set; }

}