@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @if (List.Length == 1)
    {
        ViewModelSchemaAction action = List.First();

        <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">
            @action.Title
        </DynamicHTMLTag>

        @if (!string.IsNullOrWhiteSpace(action.Description))
        {
            <span>@action.Description</span>
        }

        <TemplateAction Action="action" HeaderLevel="HeaderLevelCurrent.GetNext()"/>
    }
    else
    {
        @foreach (ViewModelSchemaAction action in List.OrderBy(x => x.Order))
        {
            <Collapsible>
                <Header>
                    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">
                        @action.Title
                    </DynamicHTMLTag>
                </Header>
                <Content>
                    <div class="content">
                        @if (!string.IsNullOrWhiteSpace(action.Description))
                        {
                            <span>@action.Description</span>
                        }

                        <TemplateAction Action="action" HeaderLevel="HeaderLevelCurrent.GetNext()"/>
                    </div>
                </Content>
            </Collapsible>
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required ViewModelSchemaAction[] List { get; set; }

    [Parameter]
    public HTMLHeaderElementEnum? HeaderLevel { get; set; }
    private HTMLHeaderElementEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderElementEnum.H2;

}