@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    @if (ListActionStep.Length == 1)
    {
        ViewModelSchemaActionStep step = ListActionStep.First();

        <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">
            @step.Title
        </DynamicHTMLTag>
        
        @if (!string.IsNullOrWhiteSpace(step.Description))
        {
            <span>@step.Description</span>
        }

        <TemplateActionStep Context="Context" ActionStep="step"/>
    }
    else
    {
        @foreach (ViewModelSchemaActionStep step in ListActionStep.OrderBy(x => x.Order))
        {
            <Collapsible>
                <Header>
                    <DynamicHTMLTag Tag="@HeaderLevelCurrent.ToText()">
                        @step.Title
                    </DynamicHTMLTag>
                </Header>
                <Content>
                    <div class="content">
                        @if (!string.IsNullOrWhiteSpace(step.Description))
                        {
                            <span>@step.Description</span>
                        }

                        <TemplateActionStep Context="Context" ActionStep="step"/>
                    </div>
                </Content>
            </Collapsible>
        }
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required ViewModelSchemaActionStep[] ListActionStep { get; set; }

    [Parameter, EditorRequired]
    public required ContextAction? Context { get; set; }

    [Parameter]
    public HTMLHeaderElementEnum? HeaderLevel { get; set; }
    private HTMLHeaderElementEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderElementEnum.H3;

}