@inherits ElementComponent

@* <div @attributes="AdditionalAttributes" class="@CssClass" disabled="@Disabled" state="@StateString"> *@
<div @attributes="AdditionalAttributes" class="@CssClass" disabled="@Disabled">
    <label class="input" for="@For">
        <HTMLText class="label" Value="@DisplayNameCurrent"/>
        <div class="control">
            @ChildContent
        </div>
    </label>

    <MessageBox class="error-list" MessageList="MessageListCurrent" Status="StatusEnum.Error"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string? For { get; set; }

    [Parameter, EditorRequired]
    public string? DisplayName { get; set; }

    private string DisplayNameCurrent => !string.IsNullOrWhiteSpace(DisplayName) ? DisplayName : "&nbsp;";

    [Parameter, EditorRequired]
    public bool? Disabled { get; set; }

    // [Parameter, EditorRequired]
    // public WebFormFieldStateEnum? State { get; set; }
    // private string? StateString => State?.ToString().ToLower();

    [Parameter, EditorRequired]
    public IEnumerable<string>? MessageList { get; set; }
    private IEnumerable<string> MessageListCurrent => MessageList ?? [];

}
